@import "./tailwind.css";

.app {
  &__wrapper {
    @apply absolute flex flex-col inset-0;
  }
  &__content {
    @apply flex flex-col flex-grow justify-start pt-16;
  }
}

.metabase-iframe {
  @apply flex flex-grow relative w-full;
  iframe {
    @apply flex-grow relative w-full;
    z-index: 2;
  }
  .loader {
    @apply absolute w-full;
    z-index: 1;
  }
}



@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  @apply flex flex-col items-center justify-center;
  color: #b8bbc3;
  font-size: 20px;
  padding-top: 40px;
  &__spinner {
    --spinner-size: 32px;
    --spinner-border: 4px;
    animation: loading-spinner 1.3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border: var(--spinner-border) solid #d4e7f8;
    border-top-color: currentColor;
    border-radius: 50%;
    box-sizing: border-box;
    color: #509ee3;
    display: inline-block;
    height: var(--spinner-size);
    width: var(--spinner-size);
    &::after {
      content: "";
      display: inherit;
      box-sizing: inherit;
      width: inherit;
      height: inherit;
      border: $border-size solid currentColor;
      border-radius: 50%;
      opacity: 0.25;
      position: relative;
      top: calc(-1 * var(--spinner-border));
      left: calc(-1 * var(--spinner-border));
    }
  }
}

.navbar .navbar__options {
  @apply flex gap-2 items-center;
  .multiselect__tags {
    white-space: pre;
  }
  .multiselect__option:after {
    display: none;
  }
  .multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
  }
  ul.multiselect__content {
    width: 100%;
  }
  li.multiselect__element {
    width: 100%;
    .multiselect__option {
      @apply truncate;
    }
  }
}

.navbar-notices {
  @apply cursor-pointer relative;
  &__badge {
    @apply absolute bg-green-400 flex items-center justify-center rounded-full;
    bottom: -0.5rem;
    font-size: 0.8rem;
    height: 1.25rem;
    right: -0.5rem;
    min-width: 1.25rem;
    &.-red {
      @apply bg-red-400
    }
  }
  .fas.-red {
    @apply text-red-500;
  }
}
